<h1>Create new question</h1>

<form action="/tests/3/questions" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <p>
    <label for="question-body">Body</label>
    <input type="text" name="question[body]" id="question-body" >
    <input name="question[test_id]" id="question-test_id" value="3" type="hidden">
  </p><br>

  <input type="submit" value="Create">
</form>
