<h1>Об Авторе</h1>

<p>Имя: Данияр</p>

<p>Возраст: 36</p>

<p>Работа: в корпорации</p>

<p>Участие: курс Основы Rails [Полная программа]</p>

<p><%= link_to 'О проекте', '/about' %></p>

<p><%= link_to 'Github', 'https://github.com/DaniyarKulmanov/TestGuru', target: :_blank %></p>
