<footer>
  <p><%= current_year %> </p>
  <p>Author: Daniyar Kulmanov </p>
  <p><%= github_url %></p>
  <p><%=  link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/' %></p>
  <p><%= link_to 'На страницу тестов', tests_path %></p>
</footer>
